html {
  height: 100%;
  display: block;
}

body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Noto, sans-serif;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-layout {
  background-color: #f5f5f5 !important;
}
